<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Estudiantes</title>
    <link rel="stylesheet" href="../css/presentacion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="bg-slide active">
            <div class="circle bg">
                <img src="../assets/e5.webp" alt="">
            </div>
            <div class="circle large">
                <img src="../assets/e5.webp" alt="">
            </div>
            <div class="circle small">
                <img src="../assets/e5.webp" alt="">
            </div>

            <div class="content">
                <div class="place">
                    <!-- Botón para abrir modal de asistencia -->
                    <button id="openAttendanceButton">Registrar Asistencia</button>

                    <!-- Botón para registrar huella del profesor -->
                    <button id="registrarEstudiante">Registrar Estudiante</button>
                    <!-- Modal para registrar asistencia -->
                    <div id="attendanceModal" style="display: none;">
                        <h2>Registrar Asistencia</h2>
                        <div id="students-checkbox-list"></div>
                        
                        <button id="confirmarAsistencia">Confirmar Asistencia</button>
                        <button id="closeAttendanceButton">Cerrar</button>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="bg-slide">
            <div class="circle bg">
                <img src="../assets/e2.webp" alt="">
            </div>
            <div class="circle large">
                <img src="../assets/e2.webp" alt="">
            </div>
            <div class="circle small">
                <img src="../assets/e2.webp" alt="">
            </div>

            <div class="content">
                <div class="place">
                    <button id="downloadPdfButton">Descargar Asistencia en PDF</button>
                    <button id="downloadExcelButton">Descargar Asistencia en Excel</button>
                    <!-- Buscador de estudiantes -->
                    <input type="text" id="attendanceSearch" placeholder="Buscar estudiante...">
                    <!-- Tabla de asistencia -->
                    <div class="cont-table-1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Profesor</th>
                                </tr>
                            </thead>
                            <tbody id="attendance-list"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-slide">
            <div class="circle bg">
                <img src="../assets/e3.webp" alt="">
            </div>
            <div class="circle large">
                <img src="../assets/e3.webp" alt="">
            </div>
            <div class="circle small">
                <img src="../assets/e3.webp" alt="">
            </div>
            <div class="content">
                <div class="place">
                    <h2>Registro de estudiantes</h2>
                    <br><br>
                    <div>
                        <!-- Buscador de estudiantes -->
                        <input type="text" id="studentSearch" placeholder="Buscar estudiante...">
                        <!-- Tabla de estudiantes -->
                        <div class="cont-table-1">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>ID Estudiante</th>
                                        <th>Fecha Registro</th>
                                        <th>Hora Registro</th>
                                    </tr>
                                </thead>
                                <tbody id="students-list"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="exit-btn" id="logoutButton">
            <i class='bx bx-door-open'></i>
        </button>
        <div class="rotate-btn" style="cursor: pointer;">
            <i class='bx bx-rotate-right'></i>
        </div>
    </div>
    <script src="../js/presentacion.js"></script>
    <script src="../js/sistema.js" type="module"></script>
</body>

</html>